Consider a DataFrame df where there is an integer column 'X':
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer).
These values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [4]:
import numpy as np
import pandas as pd

In [16]:

x= pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

y=(x.groupby(x.eq(0).cumsum().mask(x.eq(0))).cumcount() + 1).mask(x.eq(0), 0)
data = {"X":x,"Y":y}

df=pd.DataFrame(data)
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2